/* AdminPanel.css */
.admin-panel {
    padding: 20px;
}

    .admin-panel ul {
        list-style-type: none;
        padding: 0;
    }

    .admin-panel li {
        margin: 10px 0;
        border: 1px solid #000;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .admin-panel button {
        margin-left: 10px;
    }

    .admin-panel select, .admin-panel button {
        margin: 10px 0;
    }
